h1 { 
    text-align: center !important;
    color: #ffffff !important;
}



.jumbotron {
    background-color: black;
}

body {

    margin-right: 200px;
    margin-left: 200px;
}


h6 {
    width: 100%;
    background-color: lightgrey;
    height: 50px;
}
